<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.hospital301.scientificmanagement.dao.organization.OrganizationDao">
	<!-- 根据用户权限去获取用户可以访问的菜单 -->
	<!-- <select id="listAndTotal" resultType="java.util.List"> select menuId,name,href,icon,parent 
		from menu <foreach collection="userPermission" item="permission" separator="," 
		open="where userpermission in(" close=")"> #{permission} </foreach> </select> -->
	<resultMap id="organ" type="java.util.Map">
		<result column="name"></result>
		<result column="org_id"></result>
		<result column="number_of_children"></result>
	</resultMap>
	<resultMap id="total" type="java.lang.Integer">
		<result column="count" />
	</resultMap>

	<select id="getPageListAndTotal" resultMap="organ,total"
		parameterType="java.util.Map">
		SELECT SQL_CALC_FOUND_ROWS o.name as name,o.org_id as
		org_id,r.number_of_children as number_of_children FROM organization
		o,org_org_rel r
		<where>
			<trim suffixOverrides="and">
				<choose>
					<when test="parent!= null">
						r.parent= #{parent}
					</when>
					<otherwise>
						r.parent = ''
					</otherwise>
				</choose>
			</trim>
			and o.deleted=false and o.org_id=r.org and r.type='000' order by
			r.order;
		</where>
		<!-- limit #{pageStart},#{pageEnd}; -->
		SELECT FOUND_ROWS() as count;
	</select>



	<update id='updateParentNode' parameterType="java.util.Map">
		update org_org_rel set
		<where>
			1=1
			<if test="parent != null"> and `org`=#{parent} </if>
			<if test="type != null"> and type = #{type} </if>
		</where>
	</update>
	

	<select id="get" resultMap="organ" parameterType="java.util.Map">
		SELECT SQL_CALC_FOUND_ROWS o.name as name,o.org_id as
		org_id,r.number_of_children as number_of_children FROM organization
		o,org_org_rel r
		<where>
			o.org_id=r.org and r.type='000' and o.org_id=r.org
		</where>
	</select>
</mapper>